.form {
  height: 130vh;
  background-image: linear-gradient(to right, #1c8075, #03506d);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-form {
  background-color: #396d79;
  width: 85%;
  height: 85%;
  border-radius: 10px;
}

/* left side img  */
.sign-greetings {
  width: 100% !important;
  height: 100% !important;
}
.sign-greetings img {
  width: 75%;
  margin: 18% 0 0 12%;
}

/* Sign in form style  */
.sign-right {
  color: #fff;
  padding: 8% !important;
}
.form-input {
  background-color: #a3d1ca9a !important;
  border: none !important;
  padding: 3% 4% !important;
}
.form-input::placeholder {
  color: #e1e1e1e1 !important;
}
.form-input:focus {
  color: #dee3e4 !important;
  box-shadow: none !important;
}
.form-label {
  color: #dee3e4 !important;
}
.text-more-option {
  color: #dee3e4;
  position: relative;
  display: block;
  margin: 0 20px;
}
/* .text-more-option::before,
.text-more-option::after {
  content: "";
  border: 1px solid #dee3e4;
  position: absolute;
  top: 50%;
  width: 27%;
  opacity: 0.2;
} */
.btn-custom {
  border: none;
  padding: 3% 6%;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  background-color: #30d6be;
}
.btn-social {
  border: none;
  margin: 5px;
  font-size: 25px;
  background-color: #30d6be;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-social i {
  backface-visibility: hidden;
  transition: all 0.2s ease;
}
.btn-social:hover i {
  transform: scale(1.5) skew(-7deg) translate(5px, -5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.switch-link {
  color: #30d6be;
  text-decoration-color: #30d6be;
  transition: all 0.1s;
}
.switch-link:hover {
  color: #30d6be;
}

.required-text {
  font-size: 12px;
  display: block;
  margin-top: 8px;
  margin-bottom: -8px;
  font-weight: 500;
  color: orange;
}

/* Responsive  */
@media (max-width: 668px) {
  .form {
    min-height: 80vh;
    padding: 3rem 3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sign-left {
    display: none;
  }

  .sign-right {
    color: #fff;
    padding: 5% !important;
  }
}
